{% extends 'portfolio/layout.html' %}

{% load static %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'portfolio/js/javascript.js' %}"></script>
{% endblock %}








{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/api_.css' %}" media="screen" />

{% endblock %}




{% block main %}


<body>

    <div class="changes1">

        <h4>Interface de Programação de Aplicações, cuja sigla API provém do Inglês Application
            Programming Interface, é um conjunto de rotinas e padrões estabelecidos por um software para a utilização
            das suas funcionalidades por aplicações que não se pretendem envolver em detalhes da implementação do
            software, mas apenas usar seus serviços. Em baixo mostro umas pequenas brincadeiras, usando o
            seu serviço, em javascript.</h4>
    </div>
    <div class="changes">


        <span id="forecast"></span>
        

    </div>

    <div class="changes">


        
        <span id="randomWords"></span>

    </div>


</body>
{% endblock %}