{% extends 'portfolio/layout.html' %}


{% load static %}  

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/estilos_blogcopy5.css' %}" media="screen" />

{% endblock %}



{% block main %}

<div class="ajuste3">

  {% for post in posts %}
  <h3 style="text-align:center;">{{ post.titulo }}</h3>
  <div class="card">
    {% if post.foto %}
    {{ post.foto.url }}
    <img src="{{post.foto.url}}" alt="retrato" style="width:100%;text-align:center;">
    {% endif%}
  <div class="container_v1">
    <h4 style="text-align:center;"><b>{{ post.autor }}</b></h4>
    <p style="text-align:center;">{{ post.descricao }}</p>
    <p style="text-align:center;">{{ post.data }}</p>
  </div>
</div>


{% endfor %}


<div class="container">
  <h2>&#10155; Coloca um post no formulário que se segue</h2>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    <div class="row">
      <div class="col-25">
        <label for="fname">Título</label>
      </div>
      <div class="col-75">
        <input type="text" id="subject" name="subject" placeholder="Coloca um texto">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Nome</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Coloca o teu nome">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Texto</label>
      </div>
      <div class="col-75">
        <textarea id="text" name="text" placeholder="Escreve aqui" style="height:200px"></textarea>
      </div>
    </div>
     <div class="row">
      <div class="col-25">
        <label for="country">Coloca uma fotografia</label>
      </div>
      <div class="col-75">
        <input type="file" name="image" placeholder="Coloca uma imagem">
      </div>
      </div>
<br>
<br>
    <div class="row">
      
      <a href="{% url 'portfolio:home' %}" role="button" class="form-submit-button">Cancelar</a>
      <input type="submit" value="Submeter" class="form-submit-button">
    </div>
    
   
  </form>
</div>
</div>

  {% endblock %}









