{% extends 'portfolio/layout.html' %}
<!DOCTYPE html>
{% load static %}
<html>







{% block main %}
<body>

    <h1 class="title">Carta de apresentação</h1>
    <h2 class="title2">==Notas e curiosidades==</h2>

    <ul>

    <div>
        <nav>
            <br>
            <li> to do
            </li>
            
            <li>Optei por esta curso </li>
           
            <li> daquilo que mais tem gostado de aprender no curso,</li>
            
            <li> de espectativas do que gostaria de fazer quando acabar o curso.</li>
                        
            <li> de hobbies</li>
            <br>
        </nav>
    </div>

        <li>
            <p>nome: João Matos</p>
        </li>
        <li>
            <p>número de aluno: 22003420</p>
        </li>
        <li>
            <p>curso: LEI&#128512;</p>
        </li>
        <li>
            <p>ano: 2ºano; 2ºsemestre</p>
        </li>
        <li>
            <p>Universidade: ULHT</p>
        </li>
    </ul>

    <div class="title3">
        <h2>"Querer é poder"</h2>
        
        
    </div>

    <div class="title3">
        <h2><a href="https://github.com/a22003420">====MY GitHub Link====</a></h2>
        
        
    </div>


</body>
{% endblock %}







{% load static %}
<img src="{% static 'portfolio/images/image1.png' %}">

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/base.css' %}">