{% load static %}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Portfolio - João Matos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}  
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/estilos_indexcopy2.css' %}" media="screen" />

    {% block style %}
    
    {% endblock %}

</head>

<body>
    <header>
        <style display:flex;justify-content:spacebetween></style>
        <div>João Pedro Matos</div>
        <nav>
            <a href="{% url 'portfolio:home' %}">home</a>      
            <a href="{% url 'portfolio:mim' %}">sobre mim</a>      
            <a href="{% url 'portfolio:licenciatura' %}">licenciatura</a>   
            <a href="{% url 'portfolio:blog' %}">blog</a>
            <a href="{% url 'portfolio:quizz' %}">quizz</a>
            <a href="{% url 'portfolio:website' %}">sobre este website</a>          
            <a href="{% url 'portfolio:login' %}">login</a>
                 
        </nav>   
        
        </style>

    </header>


	<main>

        {% block main %}

        {% endblock main %}



    </main>



    <div>
        <footer class="footerClass">Desenvolvido por: João Matos, LEI, 2022</footer>
    </div>

</body>
</html>