{% extends 'portfolio/layout.html' %}

{% load static %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/quizz_3.css' %}" media="screen" />

{% endblock %}


{% block main %}


    <div class="ajuste">
        <h1><u>Quizz sobre Programação Web</u></h1>
        <br>
        

        

        <form method = "POST" enctype="multipart/form-data" action=""> 
            {% csrf_token %}        
                    <section>
                        <h3>&#10156; Preenche o nome em baixo para registo</h3>
                        <br>
                        <p id="conteudo">Nome: <input type="text" name="nome" autocomplete="on" required autofocus></p>                                             
                        <br>
                        
                    </section>
    </div>
                    <fieldset>
                        <br>
                        <h3><u>&#9758; Breve Questionário &#9756;</u></h4>
                        <br>

                        <label>
                            <h4>&#10112; Seleciona qual das opções em baixo é a correcta</h4>
                            <br>
                            <input type="radio" name="question1" value="q1" required> Cascading Simple Sheets
                            <input type="radio" name="question1" value="q2"> Cascading Style Sheets
                            <input type="radio" name="question1" value="q3"> Cascading Styling Sheet
                            <input type="radio" name="question1" value="q4"> Custom Style Sheets
                            
                            <br>
                            <br>
                        </label>

                        <label>
                            <h4>&#10113; Que extensão devem ter os ficheiros em Pyhton?</h4>
                            <br>
                            <input type="radio" name="question2" value="q1" required> .py
                            <input type="radio" name="question2" value="q2"> .python
                            <input type="radio" name="question2" value="q3"> .p
                            <input type="radio" name="question2" value="q4"> .pyt
                            
                            <br>
                            <br>
                        </label>

                        <label>
                            <h4>&#10114; Queremos imprimir "Gosto de programação web" em Python, qual a opção correcta?</h4>
                            <br>
                            <input type="radio" name="question3" value="q1" required> println("Gosto de programação web")
                            <input type="radio" name="question3" value="q2"> print "Gosto de programação web"
                            <input type="radio" name="question3" value="q3"> print("Gosto de programação web")
                            <input type="radio" name="question3" value="q4"> print("Gosto de programação web");
                            
                            <br>
                            <br>
                        </label>

                        <label>
                            <h4>&#10115; Seleciona qual das opções em baixo é a correcta. Uma ajuda preciosa -> estamos a trabalhar em Python &#128512;</h4>
                            <br>
                            <input type="radio" name="question4" value="q1" required> "A incorrecta identação não vai levar a código incorrecto, o IDE percebe"
                            <input type="radio" name="question4" value="q2"> "A identação não tem importância"
                            <input type="radio" name="question4" value="q3"> "A identação é essencial em programação Python"
                            <input type="radio" name="question4" value="q4"> "Não há problema, usamos {}"
                            
                            <br>
                            <br>
                        </label>


                            

                            <div>
                                <a href="{% url 'portfolio:home' %}" role="button" class="btn btn-warning">Cancelar</a>
                                <input class="btn btn-success" type="submit" value="Submeter">

                    </fieldset>
                </form>
                


                    <div class="ajuste2">
                        <h2><u>&#128512; Vê a tua atual pontuação &#128512;</u></h2>
                        
                        
                        
               
                                    
                    </div>

                    <div class="ajuste3">
                        
                        <img src="{% static 'portfolio/images/grafico.png' %}" alt="">
                        
                        
               
                                    
                    </div>

                    
    




{% endblock %}








