{% extends 'portfolio/layout.html' %}






{% block main %}

<main>

        <h3>Quizz sobre Programação Web</h3>
        <br>
        

        

                
                    <section>
                        <h3><u>Info</u></h3>
                        <br>
                        <p id="conteudo">Nome: <input type="text" name="nome" autocomplete="on" required autofocus></p>                                             
                        <br>
                        
                    </section>

                    <fieldset id="color_background_2">
                        <br>
                        <h3><u>Breve Questionário</u></h4>
                        <br>

                        <label>
                            <h4>Questão-1: Seleciona qual das opções em baixo é a correcta</h4>
                            <br>
                            <input type="radio" name="question1" value="q1"> Hypertext MinimumLanguage
                            <input type="radio" name="question1" value="q2"> Hypertext Markup Language
                            <input type="radio" name="question1" value="q3"> Hypertext Markup Lang
                            <input type="radio" name="question1" value="q4"> Hypertext edium  Language
                            
                            <br>
                            <br>
                        </label>

                        <label>
                            <h4>Questão-2: Que extensão devem ter os ficheiros HTML?</h4>
                            <br>
                            <input type="radio" name="question2" value="q1"> .html
                            <input type="radio" name="question2" value="q2"> .h
                            <input type="radio" name="question2" value="q3"> .web
                            <input type="radio" name="question2" value="q4"> .page
                            
                            <br>
                            <br>
                        </label>

                        <label>
                            <h4>Questão-3: Queremos imprimir "Hello World" em Python, qual a opção correcta?</h4>
                            <br>
                            <input type="radio" name="question3" value="q1"> ("Hello World")
                            <input type="radio" name="question3" value="q2"> print "Hello World"
                            <input type="radio" name="question3" value="q3"> print("Hello World")
                            <input type="radio" name="question3" value="q4"> p("Hello World");
                            
                            <br>
                            <br>
                        </label>

                        <label>
                            <h4>Questão-4: Seleciona qual das opções em baixo é a correcta. Uma ajuda preciosa -> estamos a trabalhar em Python &#128512;</h4>
                            <br>
                            <input type="radio" name="question4" value="q1"> // Um comentário
                            <input type="radio" name="question4" value="q2"> /* Um comentário */
                            <input type="radio" name="question4" value="q3"> # Um comentário
                            <input type="radio" name="question4" value="q4"> ** Um comentário **
                            
                            <br>
                            <br>
                        </label>


                            

                            <div class="form-group">
                                <a href="{% url 'portfolio:home' %}" role="button" class="btn btn-warning">Cancelar</a>
                                <input class="btn btn-success" type="submit" value="Submeter">

                    </fieldset>

                


        </form>


    </body>
</main>



</html>
{% endblock %}








{% load static %}
<img src="{% static 'portfolio/images/image1.png' %}">

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/base.css' %}">