{% extends 'portfolio/layout.html' %}






{% block main %}

<main>

        <h3>Quizz sobre Programação Web</h3>
        <br>
        

        

                
                    <section>
                        <h4><u>Info</u></h4>
                        <p id="conteudo">Nome: <input type="text" name="nome" autocomplete="on" required autofocus></p>                                             
                        <br>
                        
                    </section>

                    <fieldset id="color_background_2">
                        <br>
                        <h3><u>Perguntas</u></h4>
                        <br>

                        <label>
                            <h4>Q1. Qual é a forma correta de fazer um comentário em Python?</h4>
                            <input type="radio" name="question1" value="op2">Torre de Belém
                            <input type="radio" name="question1" value="Mosteiro dos Jerónimos">Mosteiro dos Jerónimos
                            <input type="radio" name="question1" value="Elevador de Santa Justa ">Elevador de Santa Justa
                            <input type="radio" name="question1" value="Padrão dos Descobrimentos ">Padrão dos
                            
                            <br>
                            <br>
                        </label>


                        <h4>Defina Lisboa em duas Palavras:&#128512;</h4>
                        <label for="P1">Palavra1</label><br>
                        <input type="text" id="P1" name="P1" size="10"><br>
                        <label for="P2">Palavra2</label><br>
                        <input type="text" id="P2" name="P2" size="10">

                        <br>

                        <!test>

                            <br>
                            <h4>Selecione a opção que é uma melhor deslocação para conhecer a nossa cidade</h4>
                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bicicleta">
                            <label for="vehicle1">Bicicleta</label><br>
                            <input type="checkbox" id="vehicle2" name="vehicle2" value="Carro">
                            <label for="vehicle2">Carro</label><br>
                            <input type="checkbox" id="vehicle3" name="vehicle3" value="Trotinete elétrica">
                            <label for="vehicle3">Trotinete elétrica</label><br><br>


                            <br>
                            <h4>Diga entre que datas, Eusébio representou o Sport Lisboa e Benfica</h4>
                            <label for="datemin">Data Inicio</label>
                            <input type="date" id="datemin" name="datemin" min="1980-01-01"><br><br>
                            <label for="datemax">Data Fim</label>
                            <input type="date" id="datemax" name="datemax" max="2022-12-31"><br><br>


                            <br>

                            <h4><label for="favcolor">Qual a cor do clube Lisboeta Sporting Clube de Portugal</label>
                            </h4>
                            <input type="color" id="favcolor" name="favcolor" value="#ff0000">

                            <br><br>

                            <h4><label for="quantity">Como avalia os restaurantes da nossa cidade (entre 1 and
                                    5):</label></h4>
                            <input type="number" id="quantity" name="quantity" min="1" max="5">

                            <br>
                            <br>
                            <h4><label for="vol">Como avalia os hospitalidade na nossa cidade (entre 1 a 10):</label>
                            </h4>
                            <input type="range" id="vol" name="vol" min="0" max="10">

                            <br>
                            <br>

                            <h4><label for="food">Como se chamam os pastéis tão conhecidos de Lisboa</label></h4>
                            <select id="food" name="food">
                                <option value="Pastéis de Santa Justa">Pastéis de Santa Justa</option>
                                <option value="Pastéis do Rossio">Pastéis do Rossio</option>
                                <option value="Pastéis de Belém">Pastéis de Belém</option>
                                <option value="Pastéis da Liberdade" selected>Pastéis da Liberdade</option>
                            </select>

                            <br>
                            <br>

                            <h4><label for="avenida">Qual a avenida mais famosa e mais elegante de Lisboa, onde se
                                    encontram inúmeras lojas bastante conhecidas</label></h4>
                            <input list="avenida" name="avenida">
                            <datalist id="avenida">
                                <option value="Avenida da Liberdade">
                                <option value="Avenida Afonso III">
                                <option value="Avenida Afonso Costa">
                                <option value="Avenida Almirante Gago Coutinho">
                                <option value="Avenida Álvares Cabral">
                            </datalist>
                            <br>
                            <br>

                            <h4>Coloque o seu telefone para questões de marketing futuro, se tiver interesse: (opcional)
                            </h4>
                            <input type="text" id="telefone" name="telefone" placeholder="Número de telefone"
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"><br><br>

                            <textarea name="message" rows="10" cols="30"
                                maxlength="100">Deixe aqui a sua mensagem</textarea>
                            <br><br>

                            <input type="submit" value="Submit all">

                    </fieldset>

                </fieldset>

            </fieldset>


        </form>


    </body>
</main>



</html>
{% endblock %}








{% load static %}
<img src="{% static 'portfolio/images/image1.png' %}">

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/base.css' %}">